<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajout acteur</title>
</head>
<body>
<form action="/acteur/ajoutacteur"  method="post">

        <label>Nom</label>
        <input type="text" class="form-control" name="nom" placeholder="Nom"/>


        <label>Prenom</label>
        <input type="text" class="form-control" name="prenom" placeholder="Prenom"/>


        <label>Photo</label>
        <input type="text" class="form-control" name="photo" placeholder="Photo"/>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>